@media only screen and (max-width: 531px) {   
.main { background-color: white;
background-size: cover; 
background-position: center center;   
background-attachment: fixed; 
background-repeat: no-repeat;
width: auto;
/*max-height: auto;*/
height: 25px;
margin: -27px -12px -5px -8px; }
.main-false{
background-color: white;
background-size: cover; 
background-position: center center;   
background-attachment: fixed; 
background-repeat: no-repeat;
width: auto;
/*max-height: auto;*/
height: 3000;
margin: -27px -12px -5px -8px; 
}
	.holder-html-chat{ border: 1px solid #ccc;
		padding:10px;
		background-color: #fff;
		color: black;
		position: center;
		width: 300px;}
.html-chat-history{ max-width: 200px;
	overflow: auto;
	max-height: 900px;
	border: 1px solid #ccc;
	padding: 5px;
	width: 200px;}
.html-chat-js-name{ margin-top:10px; }
.html-chat-js-input{ max-width: 600px;
	max-height: 100px;
	width: 200px;
	margin-top:10px;}
.html-chat-js-button-holder{ margin-bottom: 0px;
	margin-top: 10px;}
.html-chat-js-button-holder input{ width: 100px; }
.html-chat-js-answer{ float:right;}
.html-chat-js-answer a{ color: black;
	font-size: 12px;
	font-family: cursive;
	visibility:hide;}
.html-chat-js-answer a:hover{ color: black;
	font-size: 12px;
	font-family: cursive;
	visibility:hide;}
.html-chat-msg{ 
	margin: 0px;
	}
.title-main{
font-family: 'Pattaya', sans-serif;
color: #fff;
font-size: 13px;
padding: 0 0 0 5px;
text-decoration-line: none;}
.btn-one{
	font-family: 'Pattaya', sans-serif;
	padding: 0px;
	font-size: 9px;
	color: #fff;
	text-decoration-line: none;
	margin: 0 0 0 1.5%;}
.btn-two{
	font-family: 'Pattaya', sans-serif;
	padding: 0px;
	font-size: 9px;
	color: #fff;
	text-decoration-line: none;
	margin: 0 0 0 1%;
}
h1{
	font-family: 'Pattaya', sans-serif;
	font-size: 40px;
	text-align: center;
	color: black;
}
.main-text{
font-family: 'Marck Script', cursive;
font-size: 25px;
text-align: center;
	color: black;
}
.open-card-img{
	height: 170px;
	width: auto;
	size: cover;
	position: center;
padding: 20px;
}
.chat{
	position: center;
	display: table;
	margin: auto;
	width: 100px;
}
.holder-html-chat{ 
border: 1px solid #ccc;
padding:10px;
background-color: #fff;
color: black;
position: center;
width: 300px;
}
.html-chat-history{ 
max-width: 200px;
overflow: auto;
max-height: 900px;
border: 1px solid #ccc;
padding: 5px;
width: 200px;
}
.html-chat-js-name{ 
margin-top:10px;
 }
.html-chat-js-input{
 max-width: 600px;
max-height: 100px;
width: 200px;
margin-top:10px;
}
.html-chat-js-button-holder{ 
margin-bottom: 0px;
margin-top: 10px;
}
.html-chat-js-button-holder input{ 
width: 100px;
 }
.html-chat-js-answer{ 
float:right;
}
.html-chat-js-answer a{ 
color: black;
font-size: 12px;
font-family: cursive;
visibility:hide;
}
.html-chat-js-answer a:hover{ 
color: black;
font-size: 12px;
font-family: cursive;
visibility:hide;
}
.html-chat-msg{
margin: 0px;
}
}
